.error {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(255, 166, 166);
    border: 1px solid darkred;
}

.success {
    color: green;
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 0;
    padding: 10px;
    background-color: aquamarine;
    border: 1px solid darkgreen;
}